html, body {
    width: 100%;
    height: 100%;
    /* remove the extra whites around */
    margin: 0;
}

#gameCanvas {
    width: 100%;
    height: 100%;
    display: block;
}

#main-container {
  /* display: flex; */
}

#chat {
  max-height: 25vh;
  max-width: 250px;
  overflow-y: auto;
  overflow-wrap: break-word;
}

.no-overflow {
  overflow: hidden;
}

.profileImg {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.profileImgSm {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.clickable {
  cursor: pointer;
}
